*.exe
*.o
*.zip
*~
.DS_Store
.ipynb_checkpoints
__pycache__
.vscode

halo_data/modulated
halo_independent
modulation_study/fitted_damascus_modulated_rates*
modulation_study/damascus_modulated_rates*


modulation_study/verne_modulated_rates*

modulation_study/modulation_analysis/verne_modulated_rates*

modulation_study/figures/*


DMeRates/Rates/


# QEDark/
# QCDark/
# wimprates_mod/
old_for_comparison/
CLAUDE.md