*.exe
*.o
*.zip
*~
.DS_Store
.ipynb_checkpoints
__pycache__
.vscode

halo_data
halo_independent
modulation_study/damascus_modulated_rates_1e_screened_qcdark_Si
modulation_study/fitted_damascus_modulated_rates_1e_screened_qcdark_Si

modulation_study/damascus_modulated_rates_screened_qedark_Si*
modulation_study/damascus_modulated_rates_unscreened_qedark_Si*
modulation_study/damascus_modulated_rates_unscreened_qcdark_Si*
modulation_study/damascus_modulated_rates_screened_qcdark_Si*
modulation_study/damascus_modulated_rates_Ar*
modulation_study/damascus_modulated_rates_Xe*


modulation_study/verne_modulated_rates_Ar*
modulation_study/verne_modulated_rates_Xe*

modulation_study/figures/*

DMeRates/Rates/
modulation_study/verne_modulated_rates_screened_qedark_Si*
modulation_study/verne_modulated_rates_unscreened_qedark_Si*
modulation_study/verne_modulated_rates_unscreened_qcdark_Si*
modulation_study/verne_modulated_rates_screened_qcdark_Si*


# QEDark/
# QCDark/
# wimprates_mod/